fastapi
uvicorn[standard]
opencv-python
hydra-core
omegaconf
numpy
websockets
paho-mqtt<2.0.0
psutil
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
email-validator
onnxruntime
